@import url('https://rsms.me/inter/inter.css');
@import './reset';
@import './whyitworks';
@import './grid';
@import './drawer';
@import './gallery';

/*
-------
General
-------
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--h-font);
}

:root {
	--dark: #000;
	--light: #fff;
	--richblack: #00171f;
	--black: #212121;
	--dodgerblue: #4392f1;
	--bittersweet: #ff6b6b;
	--eggplant: #6f5060;

	--primary: var(--dodgerblue);
	--secondary: var(--bittersweet);
	--dark: var(--dark);
	--bg-1: var(--light);
	--bg-2: var(--richblack);
	--bg-3: var(--eggplant);
	--text-on-bg-1: var(--dark);
	--text-on-bg-2: var(--light);
	--text-on-bg-3: var(--light);
	--border: 1px solid rgba(0, 0, 0, 0.1);
	--border-bottom: 1px solid var(--secondary);
	--shadow-dark: 0px 8px 30px rgba(0, 0, 0, 0.12);
	--shadow-white: 0px 8px 30px rgba(1, 1, 1, 0.12);
	--border-hover-color: var(--secondary);

	--h-font: 'Inter', sans-serif !important;
	--p-font: 'Recoleta', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(-h-font);
}

p {
	font-family: var(--p-font);
}

h1 {
	font-weight: 600;
}

hr {
	border-bottom: 1px solid var(--secondary);
	margin: 50px 0;
}

.text-center {
	text-align: center;
}

.font-weight-bold {
	font-weight: 600;
}
.font-weight-medium {
	font-weight: 500;
}

w-100 {
	width: 100% !important;
}
w-max-100 {
	max-width: 100% !important;
	overflow-x: hidden !important;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.d-inline {
	display: inline-block;
}

.d-flex {
	display: flex;
}

/*
  ------- 
  Section 
  -------
  */

.page-section-1 {
	background-color: var(--light);
	color: black;
	margin-top: 57px;
}

.page-section-2 {
	background-color: #212121;
	color: var(--light);
	margin-top: 57px;
}

.sticky-section {
	height: 100vh;
	width: 100%;
	position: sticky;
	top: 0;
	> img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.page-section {
	background-color: var(--bg-1);
}

.section-header {
	padding: 60px 0;
	line-height: 3rem;
}

.section-header:after {
	content: ' ';
	display: block;
	width: 100px;
	height: 1px;
	margin: 20px 0 20px;
	background: var(--secondary);
}

.section-img-dark {
	object-fit: cover;
	width: 80%;
	height: auto;
	box-shadow: var(--shadow-dark);
}

.section-img-light {
	object-fit: cover;
	height: 80%;
	width: 80%;
	box-shadow: var(--shadow-light);
}

.section-text {
	padding: 50px;
}

/*
  ------ 
  Navbar
  ------ 
  */

.nav-bar {
	display: flex;
	width: 100%;
	position: fixed;
	overflow: hidden;
	align-items: center;
	left: 0;
	top: 0;
	z-index: 1000;
	overflow: hidden;
	height: 57px;
	transition: all 0.3s ease;
	@media screen and (min-width: 768px) {
		backdrop-filter: blur(20px);
		opacity: 0.8;
	}
	.nav-link,
	.logo,
	.nav-btn {
		color: inherit;
	}

	// box-shadow: var(--shadow-dark);
	&.white {
		background-color: var(--light);
		color: black;
		// .nav-link {
		// 	color: black;
		// }
		// .logo {
		// 	color: black;
		// }
		// .nav-btn {
		// 	color: black;
		// }
		box-shadow: var(--shadow-dark);
	}
	&.transparent {
		color: var(--light);
		background-color: transparent;
		// .nav-link {
		// 	color: var(--light);
		// }
		// .logo {
		// 	color: var(--light);
		// }
		// .nav-btn {
		// 	color: var(--light);
		// }
	}
	&.dark {
		background-color: var(--black);
		color: var(--light);
	}
	&.transparent-dark {
		background-color: rgba(0, 0, 0, 0.1);
		box-shadow: var(--shadow-dark);
		color: black;
		// .nav-link {
		// 	color: black;
		// }
		// .logo {
		// 	color: black;
		// }
		// .nav-btn {
		// 	color: black;
		// }
	}
}

.active {
	border-bottom: 1px solid var(--secondary);
}

.nav-btn {
	display: none;
	color: var(--light);
	font-size: 40px;
	padding: 20px 20px;
}

.logo {
	color: var(--light);
	font-size: 40px;
	padding: 20px 20px;
}

.nav-items {
	display: flex;
	list-style: none;
	padding: 10px;
}

.nav-link {
	padding: 10px 20px;
	color: var(--light);
}

.nav-link a {
	text-decoration: none;
	padding: 5px;
	color: var(--text-on-bg-1);
}

@media screen and (max-width: 774px) {
	.nav-btn {
		display: inline-block !important;
	}
	.nav-link {
		display: none;
	}
	.nav-bar {
		justify-content: space-between;
	}
}

/*
  -------
  Welcome
  -------
  */

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 2;
	opacity: 0.6;
}

.content {
	position: relative;
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 10;
}

.welcome-header {
	padding: 10px;
	color: var(--light);
}

.welcome-text {
	padding: 10px;
	color: var(--light);
	font-weight: 50;
}

.welcome-btn {
	margin: 20px;
}

.welcome-icon {
	color: var(--light);
	padding: 10px;
	font-size: 30px;
}

.down-arrows {
	text-decoration: none;
	display: block;
	position: absolute;
	z-index: 999;
	left: 50%;
	bottom: 2rem;
	transform: translateX(-50%);
	i {
		display: block;
		font-size: 1.5rem;
		animation: fade 1s infinite alternate;
		&:nth-child(2) {
			animation-delay: 0.1s;
		}
		&:nth-child(3) {
			animation-delay: 0.2s;
		}
	}
}

@keyframes fade {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

/*
  -------
  Problem
  -------
  */

section#problem {
	min-height: 100vh;
	padding-bottom: 100px;
	height: auto;
}

/*
  --------
  Solution
  --------
  */

.solution {
	background-color: var(--richblack) !important;
}
