@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap');

:root {
	--dark: #000;
	--light: #fff;
	--richblack: #00171f;
	--black: #080808;
	--dodgerblue: #4392f1;
	--bittersweet: #ff6b6b;
	--blue-light: #6bffff;
	--eggplant: #6f5060;
	--green-1: #1ebc61;
	--green-2: #00a187;

	--primary: #00a187;
	--secondary: var(--bittersweet);
	--dark: var(--dark);
	--bg-1: #fff;
	--bg-2: var(--richblack);
	--bg-3: var(--eggplant);
	--text-on-bg-1: var(--dark);
	--text-on-bg-2: #fff;
	--text-on-bg-3: #fff;
	--text-on-light: #080808;
	--text-on-primary: #fff;
	--text-on-secondary: #fff;
	--border: 1px solid rgba(0, 0, 0, 0.1);
	--border-bottom: 1px solid #ff6b6b;
	--shadow-dark: 0px 8px 30px rgba(0, 0, 0, 0.12);
	--shadow-white: 0px 8px 30px rgba(1, 1, 1, 0.12);
	--border-hover-color: #ff6b6b;

	--h-font: 'Inter', sans-serif !important;
	--p-font: 'Karla', sans-serif !important;
}

@import './utils/utils';
@import './components/navbar';
@import './components/drawer';
@import './components/footer';
@import './components/button';
@import './components/popup';
@import './components/input';

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--h-font);
}

p {
	font-family: var(--p-font);
}

body {
	font-family: var(--p-font);
}

h1 {
	font-weight: 600;
}

hr {
	border-bottom: 1px solid #ff6b6b;
	margin: 50px 0;
}

img {
	user-select: none;
}

.text-center {
	text-align: center;
}

.font-weight-bold {
	font-weight: 600;
}
.font-weight-medium {
	font-weight: 500;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.d-inline {
	display: inline-block;
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

hr.divider {
	border: none;
	display: block;
	width: 100px;
	height: 1px;
	margin: 20px auto;
	background: #ff6b6b;
}

span {
	color: #ff6b6b;
	&.green {
		color: #1ebc61;
	}
	&.green-2 {
		color: #00a187;
	}
}

/*
----------
Animations
---------- 
*/
.fade {
	transition: all 0.5s ease-in;
	transition-property: opacity, transform;
}
.fade-test {
	transition: all 0.5s ease-in;
	transition-property: opacity, transform;
}
.fade-out {
	opacity: 0 !important;
	transform: translateY(30px);
	&.up {
		transform: translateY(-30px);
	}
}

.fade-in {
	opacity: 1 !important;
	transform: translateY(0px);
}

// SVG animations
.stroke-line {
	path {
		stroke-width: 3px;
		stroke-opacity: 0.3;
		&.right {
			stroke-dashoffset: 2000;
		}
	}

	&.animated {
		path {
			transition: stroke-dashoffset 1.5s ease;
			transition-delay: 0.5s;
			stroke-dashoffset: -2000;
			stroke-dasharray: 2000;
		}
		&.in {
			path {
				stroke-dashoffset: 0;
			}
		}
	}
}

@keyframes svg-anim {
	to {
		stroke-dashoffset: 0;
	}
}

.svg {
	position: relative;
	svg {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&.green {
		color: #1ebc61;
	}
}
.section-text-small {
	color: #a1a1a6;
	line-height: 1.2;

	&.dark {
		color: black;
	}
	&.p-2 {
		padding: 2rem;
	}
}

@media screen and (min-width: 320px) {
	.section-text-small {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 1000px) {
	.section-text-small {
		font-size: calc(22px * 1.2);
	}
}

// Text colors
// .green-2 {
// 	color: #00a187 !important;
// }

.source-link {
	text-decoration: none;
	&.red {
		color: #ff6b6b;
	}
	&.green {
		color: #00a187;
	}
}

.links {
	display: block;
}

.link {
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: normal;
}
