@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap');

:root {
	--dark: #000;
	--light: #fff;
	--richblack: #00171f;
	--black: #080808;
	--dodgerblue: #4392f1;
	--bittersweet: #ff6b6b;
	--eggplant: #6f5060;

	--primary: var(--dodgerblue);
	--secondary: var(--bittersweet);
	--dark: var(--dark);
	--bg-1: var(--light);
	--bg-2: var(--richblack);
	--bg-3: var(--eggplant);
	--text-on-bg-1: var(--dark);
	--text-on-bg-2: var(--light);
	--text-on-bg-3: var(--light);
	--text-on-light: var(--black);
	--text-on-primary: var(--light);
	--text-on-secondary: var(--light);
	--border: 1px solid rgba(0, 0, 0, 0.1);
	--border-bottom: 1px solid var(--secondary);
	--shadow-dark: 0px 8px 30px rgba(0, 0, 0, 0.12);
	--shadow-white: 0px 8px 30px rgba(1, 1, 1, 0.12);
	--border-hover-color: var(--secondary);

	--h-font: 'Inter', sans-serif !important;
	--p-font: 'Karla', sans-serif !important;
}

@import './utils/utils';
@import './components/navbar';
@import './components/drawer';
@import './components/footer';
@import './components/button';
@import './components/popup';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--h-font);
}

p {
	font-family: var(--p-font);
}

h1 {
	font-weight: 600;
}

hr {
	border-bottom: 1px solid var(--secondary);
	margin: 50px 0;
}

.text-center {
	text-align: center;
}

.font-weight-bold {
	font-weight: 600;
}
.font-weight-medium {
	font-weight: 500;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.d-inline {
	display: inline-block;
}

.d-flex {
	display: flex;
}

hr.divider {
	border: none;
	display: block;
	width: 100px;
	height: 1px;
	margin: 20px auto;
	background: var(--secondary);
}

span {
	color: var(--secondary);
}

/*
----------
Animations
---------- 
*/
.fade {
	transition: all 0.5s ease-in;
	transition-property: opacity, transform;
}

.fadeOut {
	opacity: 0;
	transform: translateY(30px);
	&.up {
		transform: translateY(-30px);
	}
}

.fadeIn {
	opacity: 1;
	transform: translateY(0px);
}
