.footer {
	margin-top: 2rem;
	min-height: 250px;
	background-color: rgb(255, 255, 255);
	display: flex;
	text-align: center;
	color: black;
	h4 {
		margin-bottom: 15px;
	}
}
.contact-info {
	margin: 20px;
	width: 33%;
	li {
		list-style: none;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}

.location {
	margin: 20px;
	width: 33%;
	li {
		list-style: none;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}
.socials {
	margin: 20px;
	width: 33%;
	li {
		list-style: none;
		margin: 5px;
		font-size: 1.5rem;
		&:hover {
			transform: scale(1.1);
		}
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}
}
