@import './reset';
@import './utils/root';
@import './components/navbar';
@import './components/drawer';
@import './footer';

.banner-photo {
	width: 100%;
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1598520059393-1fd1b7f85e35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');
	background-size: cover;
	position: relative;
}
.banner-text {
	color: rgb(255, 255, 255);
	text-align: left;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 200px;
	transform: translateY(-50%);
	max-width: 45%;
}
.persons {
	display: flex;
	flex-wrap: wrap;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	> div {
		&:hover {
			img {
				//filter: blur(8px);
			}
		}
	}
}
.slider {
	transition: transform 0.3s ease;
	transform: translateX(-100%);
	background-color: rgba(255, 255, 255, 0.617);
	backdrop-filter: blur(8px);
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.person:hover .slider {
	transform: translateX(0%);
}
.person:hover .slider {
	transform: translateX(0%);
}
.person-full:hover .slider {
	transform: translateX(0%);
}
.person-bottom:hover .slider {
	transform: translateX(0%);
}

.slider-text {
	font-size: 20px;
	text-shadow: -1px 0 5px rgba(255, 255, 255, 0.24),
		0 1px 5px rgba(255, 255, 255, 0.226),
		1px 0 5px rgba(255, 255, 255, 0.199),
		0 -1px 5px rgba(255, 255, 255, 0.199);
	color: black;
	width: 100%;
	text-align: center;
	text-decoration: none;
	h2 {
		margin: 30px 0;
	}
}
.slider-text a {
	color: #000;
	text-decoration: none;
	font-size: 0.9rem;
	cursor: pointer;
}

.text-column {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.column-left {
	text-align: left;
	hr {
		margin-right: auto;
		margin-left: 0;
	}
}
.column-right {
	text-align: right;
	hr {
		margin-left: auto;
		margin-right: 0;
	}
}

.person {
	flex-basis: 50%;
	height: 70vh;
	overflow: hidden;
	position: relative;
	@media screen and (min-width: 768px) {
		height: 100vh;
	}
}
.person-full {
	@extend .person;
	flex-basis: 100%;
}
.person-bottom {
	height: 70vh;
	overflow: hidden;
	position: relative;
	flex-basis: 50%;
	@media screen and (min-width: 768px) {
		flex-basis: 33.33333333333%;
		height: 100vh;
	}
}

.mobile-full {
	flex-basis: 100%;
	@media screen and (min-width: 768px) {
		flex-basis: 33.33333333333%;
	}
}
