@import './reset';
@import './utils/root';
@import './components/navbar';
@import './components/drawer';

.banner-photo {
	width: 100%;
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1598520059393-1fd1b7f85e35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');
	background-size: cover;
}
.persons {
	display: flex;
	flex-wrap: wrap;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	> div {
		&:hover {
			img {
				opacity: 0.8;
			}
		}
	}
}

.person-left {
	flex-basis: 50%;
	height: 100vh;
}
.person-right {
	flex-basis: 50%;
	height: 100vh;
}
.person-full {
	flex-basis: 100%;
	height: 100vh;
}
.person-bottom {
	flex-basis: 33.33333333333%;
	height: 100vh;
}
