/*
---------
Grid
---------
*/

.container {
	margin: 0 auto;
	padding: 0 0.7rem;
	@media screen and (min-width: 768px) {
		width: 70%;
	}
}

.row {
	display: flex;
	margin: auto;
}

.flexed-10 {
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
	max-width: 10%;
}

.flexed-25 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.flexed-33 {
	-ms-flex: 0 0 33%;
	flex: 0 0 33%;
	max-width: 33%;
}

.flexed-50 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.flexed-90 {
	-ms-flex: 0 0 90%;
	flex: 0 0 90%;
	max-width: 90%;
}

.flexed-67 {
	-ms-flex: 0 0 67%;
	flex: 0 0 67%;
	max-width: 67%;
}

.flexed-100 {
	-ms-flex: 0 0 100%;
	flex: 0 0 67%;
	max-width: 100%;
}

.sticky-section {
	height: 100vh;
	width: 100%;
	position: relative;
	position: sticky;
	scroll-snap-align: start;
	// scroll-margin-top: 20px;
	top: 0;
	> img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

@media screen and (max-width: 768px) {
	.row {
		display: block;
	}

	.flexed-10,
	.flexed-25,
	.flexed-33,
	.flexed-50,
	.flexed-67,
	.flexed-90,
	.flexed-100 {
		-ms-flex: 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.sticky-section {
		position: static;
		// min-height: 100vh;
		height: auto;
	}
	#welcome {
		padding-top: 50%;
	}
}
