@import '../scss/common';

html {
	scroll-behavior: smooth;
}
//container overwrite
.container {
	@media screen and (min-width: 768px) {
		width: 75%;
		margin-top: 2rem;
	}
	.section-text {
		margin: 0 2rem;
	}
}
// Rem Overwrite
body {
	background-color: black;
	color: #f6f6f6;
}

// Hero
.hero {
	width: 100%;
	height: 60vh;
	background-image: url('/img/biobalancevisionjpeg.jpg');
	background-attachment: fixed;
	background-position: top;
	position: relative;
	background-size: cover;
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// transform: translateX(-50%);
		background: rgba(0, 0, 0, 0.2);
		z-index: 999;
		margin: 0;
	}
}

.solution-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&.secondary {
		align-items: center;
	}
}

.flex-item {
	flex: 100%;
	padding: 2rem 0;

	&.big {
		flex: 100%;
		padding: 0rem;
	}
	@media screen and (min-width: 768px) {
		flex: 50%;
		padding: 1rem;

		&.big {
			flex: 100%;
			padding: 1rem;
		}
	}
}

.solution-section {
	padding-top: 15vh;
	@media screen and (min-width: 768px) {
		padding-top: 15vh;
	}
}

.text-center {
	text-align: center;
}

.img-small {
	padding: 1rem;
}

.solution-header {
	font-size: 3rem;
	color: white;
	margin-bottom: 1rem;
	padding-top: 0rem;
	@media screen and (min-width: 768px) {
		padding-top: 10rem;
	}
}

.svg {
	position: relative;
	svg {
		position: absolute;
		width: 100%;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);
	}
}

.solution-header-small {
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	color: white;
	@media screen and (min-width: 768px) {
		padding: 1rem;
	}
}

.solution-text {
	color: #a1a1a6;
	font-size: 1.25rem;
	line-height: 1.5;
	padding: 1rem 0.5rem;
	@media screen and (min-width: 768px) {
		padding: 1rem;
	}
}

.pb-20 {
	padding-bottom: 5rem;
	@media screen and (min-width: 768px) {
		padding-bottom: 20rem;
	}
}

//footer overwrite
.footer {
	background-color: var(--black);
	h4 {
		color: white;
	}
	li {
		color: white;
	}
	a {
		color: white;
	}
}

.solution-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem;
}
