@import '../common';

//navbar overwrite
.nav-bar {
	position: sticky;
}
//container overwrite
.container {
	@media screen and (min-width: 768px) {
		width: 75%;
	}
}
// Rem Overwrite
body {
	background-color: #161616;
	color: #f6f6f6;
}

// Util
.text-reset {
	font-weight: 400;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

// Hero
.hero {
	width: 100%;
	height: 60vh;
	background-image: url('https://images.unsplash.com/photo-1567360615751-58281b426a5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80');
	// picture from: https://unsplash.com/photos/lNZrozGdzy0
	background-attachment: fixed;
	background-position: center;
	position: relative;
	background-size: cover;
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// transform: translateX(-50%);
		background: rgba(0, 0, 0, 0.3);
		z-index: 999;
		margin: 0;
	}
}

.section-header {
	font-size: 3rem;
	color: white;
	text-align: left;
	padding-top: 4rem;
	padding-bottom: 20px;
	// text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.section-text {
	padding-top: 5vh;
}

.columns-container {
	display: flex;
	width: 100%;
}
.column-image {
	width: 50%;
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 4px;
	}
	box-shadow: var(--shadow-dark);
}
.columns {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}
.column {
	flex-basis: 100%;
	@media screen and (min-width: 768px) {
		flex-basis: 100%;
	}
	.title {
		@extend .text-reset;
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	.text {
		@extend .text-reset;
		font-size: 1.1rem;
		font-weight: normal;
		padding: 10px 30px 20px 1px;
	}
}
.youtube-video {
	width: 100%;
	display: flex;
	justify-content: center;
	background-image: url('https://images.unsplash.com/photo-1584698019502-662f00ce1a06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2736&q=80');
	background-position: -50rem;
	background-repeat: no-repeat;
	box-shadow: var(--shadow-dark);
	border-radius: 4px;
}

#problemSub {
	padding-top: 60px;
}
.youtube-description {
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	width: 75%;
}

//footer overwrite
.footer {
	background-color: rgb(22, 22, 22);
	h4 {
		color: white;
	}
	li {
		color: white;
	}
	a {
		color: white;
	}
}
