@import '../common';

//navbar overwrite
.nav-bar {
	position: fixed;
}
//container overwrite
.container {
	@media screen and (min-width: 768px) {
		width: 75%;
	}
	.section-text {
		margin: 0 2rem;
	}
}
// Rem Overwrite
body {
	background-color: #ffffff;
	color: #000000;
}

// Util
.text-reset {
	font-weight: 400;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

// Hero
.hero {
	width: 100%;
	height: 60vh;
	background-image: url('/img/biobalancevisionjpeg.jpg');
	background-attachment: floor($number: 0);
	background-position: bottom;
	position: relative;
	background-size: cover;
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// transform: translateX(-50%);
		background: rgba(0, 0, 0, 0.2);
		z-index: 999;
		margin: 0;
	}
}

.section-header {
	font-size: 3rem;
	color: rgb(0, 0, 0);
	text-align: left;
	padding-top: 4rem;
	padding-bottom: 20px;
	// text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.section-text {
	padding-top: 5vh;
}

.columns-container {
	display: flex;
	width: 100%;
}

.column-image {
	width: 60%;
	img {
		object-fit: cover;
		width: 100%;
		height: 90%;
		border-radius: 4px;
	}
	//box-shadow: var(--shadow-dark);
}
.columns {
	@media screen and (min-width: 768px) {
		width: 40%;
	}
	display: flex;
	flex-wrap: wrap;
}
.columns2 {
	@media screen and (min-width: 768px) {
		width: 50%;
	}
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}
.columns3 {
	margin-top: 30px;
	@media screen and (min-width: 768px) {
		width: 50%;
	}
	display: flex;
	flex-wrap: wrap;
}
h2 {
	margin-top: 100px;
}
.column {
	flex-basis: 100%;
	@media screen and (min-width: 768px) {
		flex-basis: 100%;
	}
	.title {
		@extend .text-reset;
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	.text {
		@extend .text-reset;
		font-size: 1.1rem;
		font-weight: normal;
		padding: 10px 30px 20px 1px;
	}
}

.rainforest-image {
	margin-top: 50px;
	z-index: 0;
	width: 100%;
	img {
		width: 100%;
	}
}

.goals-container {
	display: flex;
	width: 100%;
}

@media screen and (max-width: 774px) {
	.goals-container {
		display: block;
	}
	.columns-container {
		display: block;
		width: 90%;
	}
}

.goals {
	@media screen and (min-width: 768px) {
		width: 68%;
	}
	display: flex;
	flex-wrap: wrap;
	flex-wrap: wrap;

	li {
		font-size: 1.25rem;
		padding-top: 15px;
		padding-right: 3%;
	}
}
.goals-image {
	flex: 1;
	width: 30%;
	justify-content: floor($number: 20);
	img {
		margin-left: auto;
		margin-top: 100px;
		object-fit: cover;
		width: 100%;
		height: 70%;
		border-radius: 4px;
		box-shadow: var(--shadow-dark);
	}
}

#problemSub {
	padding-top: 60px;
}

//footer overwrite
.footer {
	z-index: 100;
	// 	background-color: rgb(22, 22, 22);
	// 	h4 {
	// 		color: white;
	// 	}
	// 	li {
	// 		color: white;
	// 	}
	// 	a {
	// 		color: white;
	// 	}
}

.solution-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem;
}
