.footer {
	position: relative;
	width: 100%;
	padding: 2rem 1rem;
	margin-top: 2rem;
	min-height: 200px;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 100%;
	overflow: hidden;
	color: black;
	h4 {
		margin-bottom: 15px;
	}
	> div {
		border-left: #ff6b6b 1px solid;
		height: 100px;
		padding-left: 20px;
	}
	&.green {
		> div {
			border-color: #00a187;
		}
	}
	@media screen and (min-width: 768px) {
		flex-wrap: nowrap;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		display: block;
		padding-left: 1rem !important;
	}
}
.sources {
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

.footer-column {
	padding: 1rem;
	padding-bottom: 0;
	margin-bottom: 0;
	@media screen and (min-width: 768px) {
		width: 33%;
		padding: 20px;
		padding-bottom: 0;
	}
	width: 100%;
}

.contact-info {
	li {
		list-style: none;
		color: inherit;
	}
	ul {
		margin: 0;
		padding: 0;
		font-style: none;
		color: inherit;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
}

.location {
	li {
		list-style: none;
	}
	ul {
		margin: 0;
		padding: 0;
		font-style: none;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
}
.socials {
	li {
		list-style: none;
		margin: 5px;
		font-size: 1.5rem;
		&:hover {
			transform: scale(1.1);
		}
		transition: all 0.2s ease;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
}

.icon {
	color: #282828;
	&:hover {
		color: #ff6b6b !important;
		&.green {
			color: #00a187 !important;
		}
	}
}
