.footer {
	margin-top: 2rem;
	min-height: 200px;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: black;
	h4 {
		margin-bottom: 15px;
	}
	> div {
		border-left: var(--secondary) 1px solid;
		height: 100px;
		padding-left: 20px;
	}
	@media screen and (min-width: 768px) {
		flex-wrap: nowrap;
	}
}
.footer-column {
	@media screen and (min-width: 768px) {
		width: 33%;
	}
	width: 100%;
}
.contact-info {
	margin: 20px;

	li {
		list-style: none;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}

.location {
	margin: 20px;
	li {
		list-style: none;
	}
	ul {
		margin: 0;
		padding: 0;
	}
}
.socials {
	margin: 20px;
	li {
		list-style: none;
		margin: 5px;
		font-size: 1.5rem;
		&:hover {
			transform: scale(1.1);
		}
		transition: all 0.2s ease;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
}

.instagram-icon {
	color: #282828;
}
