/*
  ------ 
  Navbar
  ------ 
  */

.nav-bar {
	display: flex;
	width: 100%;
	position: fixed;
	overflow: hidden;
	align-items: center;
	left: 0;
	top: 0;
	z-index: 1000;
	overflow: hidden;
	height: 57px;
	transition: all 0.3s ease;
	color: white;
	@media screen and (min-width: 768px) {
		backdrop-filter: blur(20px);
		opacity: 0.95;
	}
	.nav-link,
	.logo,
	.nav-btn {
		color: inherit;
	}

	// box-shadow: var(--shadow-dark);
	&.white {
		background-color: var(--light);
		color: black;
		box-shadow: var(--shadow-dark);
	}
	&.transparent {
		color: var(--light);
		background-color: transparent;
	}
	&.transparent-light {
		color: var(--light);
		background-color: transparent;
	}
	&.dark {
		background-color: var(--black);
		color: var(--light);
	}
	&.transparent-dark {
		background-color: rgba(0, 0, 0, 0.1);
		box-shadow: var(--shadow-dark);
		color: black;
	}
}

.active {
	border-bottom: 1px solid var(--secondary);
}

.nav-btn {
	display: none;
	color: var(--light);
	font-size: 40px;
	padding: 20px 20px;
}

.logo {
	color: var(--light);
	font-size: 40px;
	padding: 20px 20px;
}

.nav-items {
	display: flex;
	list-style: none;
	padding: 10px;
}

.nav-link {
	padding: 10px 20px;
	color: var(--light);
}

.nav-link a {
	text-decoration: none;
	padding: 5px;
	color: var(--text-on-bg-1);
}

@media screen and (max-width: 774px) {
	.nav-btn {
		display: inline-block !important;
	}
	.nav-link {
		display: none;
	}
	.nav-bar {
		justify-content: space-between;
	}
}
