.popper-tooltip {
	display: none;
}
.popper-popup {
	background-color: var(--light);
	color: var(--text-on-light);
	box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	padding: 1rem;
	max-width: 350px;
	.popper-tooltip {
		display: block;
	}
}
