.slideshow {
	width: 100vw;
	height: 80vh;
	position: relative;
	margin: auto;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: top center;
	}
	.slides {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		transition: all 1s ease-in-out;
	}
	/*.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		padding: 1rem;
		color: black;
		opacity: 0.7;
		font-size: 5rem;
		transition: 0.6s ease;
		user-select: none;
		&:hover {
			color: #080808;
			opacity: 1;
		}
	}
	.next {
		right: 0;
	}
	.caption-txt {
		color: white;
		font-size: 1rem;
		padding: 0.5rem;
		position: absolute;
		bottom: 10%;
		width: 100%;
		text-align: center;
	}*/
}
